__pycache__
.ipynb_checkpoints
flask-env

logging/main.log
exe/dist
exe/build
exe/*.spec
pip-date.py
daily_byte_tests.html
daily_byte_tests.txt
reports

bookmarks-converter/*.csv
bookmarks-converter/*.html
bookmarks-converter/*.json
bookmarks-converter/outputs




